##### `requirements.txt`
##### DigiAI
##### Open-Source, hosted on https://github.com/DrBenjamin/DigiAI
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit==1.25.0
pandas
numpy
pygsheets
googledrivedownloader
xlwings==0.30.10
opencv-python-headless
openai
PyPDF2